<div class="edit">
    <form class="form-horizontal" id="activityForm" action="" method="post">
        <div class="form-group hide">
            <label class="col-sm-3 control-label">id</label>
            <div class="col-sm-9 ">
                <input type="text" name="id" class="form-control" placeholder="id">
            </div>
        </div>
        <div class="form-group userName">
            <label class="col-sm-3 control-label">发布人：</label>
            <div class="col-sm-9 ">
                <input type="text" name="userName" class="form-control" placeholder="发布人" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span class="text-red">* </span>标题：</label>
            <div class="col-sm-9 ">
                <input type="text" name="title" class="form-control" placeholder="标题">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span class="text-red">* </span>内容：</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="content" rows="6" placeholder="内容"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span class="text-red">* </span>开始时间：</label>
            <div class="col-sm-9 ">
                <input type="date" name="startDate" class="form-control" placeholder="开始时间">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-9 ">
                <input type="date" name="endDate" class="form-control" placeholder="结束时间">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">报名截止时间：</label>
            <div class="col-sm-9 ">
                <input type="date" name="deadline" class="form-control" placeholder="报名截止时间">
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label">负责人id：</label>
            <div class="col-sm-9 ">
                <input type="text" name="leaderId" class="form-control" placeholder="负责人id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人：</label>
            <div class="col-sm-9 ">
                <input type="text" name="leaderName" class="form-control" placeholder="负责人" onclick="selectUser()" data-toggle='modal' data-target='#selector'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">活动地址：</label>
            <div class="col-sm-9 ">
                <input type="text" name="acAddress" class="form-control" placeholder="活动地址">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">费用：</label>
            <div class="col-sm-9 ">
                <input type="text" name="fee" class="form-control" placeholder="费用">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">报名列表：</label>-->
            <!--<div class="col-sm-9 ">-->
                <!--<input type="text" name="signInList" class="form-control" placeholder="报名列表">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">活动状态：</label>
            <div class="col-sm-9 ">
                <span class="acState0 label label-primary hidden">未开始</span>
                <span class="acState1 label label-info hidden">进行中..</span>
                <span class="acState2 label label-success hidden">已结束</span>
                <span class="acState3 label label-warning hidden">报名中..</span>
                <span class="acState4 label label-default hidden">已取消</span>
                <br/>
                <label class="checkbox-inline">
                    <input type="checkbox" name="acState" value="4">是否取消该活动
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label sr-only">错误</label>
            <div class="col-sm-9 ">
                <div id="error" class="alert alert-danger hidden" role="alert">...</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9  text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:sessionStorage.removeItem('selUserId');">关闭 </button>
                <button type="submit" class="btn btn-primary">确定</button>
            </div>
        </div>
    </form>
</div>
<!--js-->
<script src="../js/activity-edit.js"></script>