<!--<style>-->
    <!--.item{-->
        <!--cursor:pointer;-->
    <!--}-->
<!--</style>-->
<!--<script>-->
    <!--$('.carousel').carousel({ interval: 1000 })-->
<!--</script>-->
<!--&lt;!&ndash;轮播&ndash;&gt;-->
<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="carousel-inner" role="listbox">-->
        <!--<div class="item active" onclick=" $('#body').load('home-repair-list.html');">-->
            <!--<img src="../images/bg1.jpg" alt="..." style=" width:100%;height:500px;">-->
            <!--<div class="carousel-caption">-->
                <!--Title-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item" onclick="$('#body').load('notice-list.html');">-->
            <!--<img src="../images/bg2.jpg" alt="..." style=" width:100%;height:500px;">-->
            <!--<div class="carousel-caption">-->
                <!--Title-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item"  onclick="$('#body').load('tool-flow.html');">-->
            <!--<img src="../images/bg3.jpg" alt="..." style=" width:100%;height:500px;">-->
            <!--<div class="carousel-caption">-->
                <!--Title-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
<!--</div>-->
