<style>
    /*shangmen*/
    tr td:first-child .mingci{
        border: 1px solid #adadad;
        background-color: #bbbbbb;
        color: #ffffff;
        padding: 0 4px;
    }
    tr.no1 td:first-child .mingci,tr.no2 td:first-child .mingci,tr.no3 td:first-child .mingci{
        padding: 0 4px;
        background-color: #f3456d;
        border: 1px solid #f26378;

    }

    /*huodong*/
    .panel-body {
        display: none;
    }

    #panel-body0 {
        display: block;
    }
</style>
<div class="container">
    <div class="row">
        <div class="shangmen col-md-4">
            <h2>本月上门排行榜</h2>
           <div class="well well-sm">
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th style=''>名次</th>
                           <th style=''>姓名</th>
                           <th style=''>次数</th>
                       </tr>
                   </thead>
                   <tbody>
                        <tr><td colspan='3'>只有愚蠢的人才看不见排名 ha~</td></tr>
                   </tbody>
               </table>
           </div>
            <script>
                function getPaiHang() {
                    $.ajax({
                        type: "get",
                        url: "../service/HomeRepairAction.php?act=paihang",
                        dataType: "json",
                        data: {},
                        success: function (data) {
                            console.log(data);
                            $(".shangmen tbody tr").remove();
                            for (var i = 0; i < data.length; i++) {
                                $(".shangmen tbody").append("<tr class='no"+(i+1)+"'>" +
                                "<td><span class='mingci'>" + (i + 1) + "</span></td>" +
                                "<td>" + data[i].userName + "</td>" +
                                "<td>" + data[i].count + "</td>" +
                                "</tr>");
                            }

                        },
                        error: function (data) {
                            console.log(data);
                            $(".shangmen tbody").append("<tr><td class='text-center text-danger' colspan='3'>服务器开小差了 :)</td></tr>");
                        }
                    });
                }
                getPaiHang();
            </script>
        </div>
        <div class="huodong col-md-8">
            <h2>未来活动概要</h2>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span>暂时没有说动哟</span>
                        </h4>
                    </div>
                    <div class="panel-body" id="panel-body0">
                        <p style="text-indent: 2em;">赶紧搞点活动吧！</p>
                        <p class="pull-right"></p>
                        </div>
                    </div>
            </div>
            <script>
                $.ajax({
                    type: "get",
                    url: "../service/ActivityAction.php?act=huodong",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $(".huodong .panel-group .panel").remove();
                        for (var i = 0; i < data.length; i++) {
                            $(".huodong .panel-group").append("<div class='panel panel-default'>" +
                            "<div class='panel-heading' onclick='show(" + i + ");'>" +
                            "<h4 class='panel-title'>" +
                            "<span>" + data[i].title + "</span> <small class='pull-right'>" + data[i].startDate + "</small>" +
                            "</h4>" +
                            "</div>" +
                            "<div class='panel-body' id='panel-body" + i + "'>" +
                            "<p style='text-indent: 2em;'>" + data[i].content + "</p>" +
                            "<p class='pull-right'>" + data[i].leaderName + "</p>" +
                            "</div>" +
                            "</div>");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        $(".huodong .panel-group").append("<div>服务器开小差了 :)</div>");

                    }
                });

                function show(i) {
                    $(".panel-body").css("display", "none");
                    $("#panel-body" + i).css("display", "block");
                }
            </script>
        </div>

    </div>
</div>
<script>
    closeLoading();
</script>