<div class="well container">
    <form class="form-horizontal" id="changePasswordForm" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label">旧密码：</label>
            <div class="col-sm-9 ">
                <input type="password" class="form-control" name="pwd" placeholder="旧密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="newPwd" placeholder="新密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认新密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="rePassword" placeholder="确认新密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label sr-only">错误</label>
            <div class="col-sm-9 ">
                <div id="error" class="alert alert-danger hidden" role="alert">...</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">确定</button>
            </div>
        </div>
    </form>
</div>
<!--js-->
<script src="../js/password-edit.js"></script>