<style>
    /*Firefox 浏览器对 fieldset 元素设置了一些影响 width 属性的样式，导致响应式表格出现问题。除非使用我们下面提供的针对 Firefox 的 hack 代码，否则无解：*/
    @-moz-document url-prefix() {
        fieldset {
            display: table-cell;
        }
    }
</style>
<!--queryFrom-->
<div class="block">
    <div class="margin-10"></div>
    <form class="form-inline list-form" id="queryFrom">
        <div class="form-group">
            <label class="sr-only" for="name">姓名</label>
            <input type="text" class="form-control" id="name" placeholder="姓名关键字">
        </div>
        <div class="form-group">
            <label class="sr-only" for="phone">手机</label>
            <input type="tel" class="form-control" id="phone" placeholder="手机" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')">
        </div>
        <div class="form-group">
            <label class="sr-only" for="sex">性别</label>
            <!--<input type="select" class="form-control" id="sex" placeholder="性别">-->
            <select class="form-control" id="sex">
                <option value="-1">请选择</option>
                <option value="male">男</option>
                <option value="female">女</option>
            </select>

        </div>
        <button type="submit" class="btn btn-default">查询</button>
        <button type="button" class="btn btn-success" onclick="addUser()" data-toggle='modal' data-target='#myModal'>添加</button>
        <button type="button" class="btn btn-danger" onclick="deleteByIds()">批量删除</button>
        <a class="btn btn-info" href="../service/UserAction.php?act=downloadList">下载列表</a>
    </form>
    <div class="margin-10"></div>
</div>
<div class="margin-10"></div>
<!--table-->
<div class="block">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style='width:20px;'></th>
                <th style='width: 10%'>姓名</th>
                <th style='width: 10%'>性别</th>
                <th style='width: 20%'>手机</th>
                <th style='width: 15%'>短号</th>
                <th style=''>地址</th>
                <th style='width: 20%'>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!--分页导航-->
<nav class="container text-center" >
    <ul class="pagination" id="page-nav"></ul>
</nav>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    标题
                </h4>
            </div>
            <div class="modal-body">
                内容
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

<!--js-->
<script src="../js/user-list.js"></script>
<script>
    closeLoading();
</script>